<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="bg">
<head>
    <title>Моят профил</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>Редактиране на профила</h1>
    <a th:href="@{/villas}">Каталог</a>
</header>

<main>
    <div th:if="${msg}" class="success">
        <p th:text="${msg}"></p>
    </div>
    <div th:if="${error}" class="error">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/profile}" th:object="${profile}" method="post">

        <label>Потребителско име</label>
        <input type="text" th:field="*{username}"/>

        <label>Имейл</label>
        <input type="email" th:field="*{email}"/>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>

        <button type="submit">Запази промените</button>
    </form>
</main>
</body>
</html>
