body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('https://plus.unsplash.com/premium_photo-1696258991852-9364b39576e5?q=80&w=1170&auto=format&fit=crop')
    center/cover no-repeat fixed;
    min-height: 100vh;
    padding: 40px 0;
}

.edit-container {
    width: 400px;
    margin: auto;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 25px 35px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
}

input, textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #bbb;
    font-size: 15px;
}

.btn-save {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-save:hover {
    background-color: #43a047;
}

.back-link {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
}

.back-link:hover {
    color: #000;
}


@media (max-width: 768px) {
    .background {
        padding: 20px 10px;
    }

    .edit-container {
        width: 95%;
        max-width: 400px;
        padding: 20px 15px;
    }

    h1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    input, textarea {
        font-size: 16px;
        padding: 12px;
    }

    .btn-save {
        padding: 14px;
        font-size: 18px;
    }
}
