* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    overflow: hidden;
}

body {
    background: url("https://plus.unsplash.com/premium_photo-1686090449933-2057b9fba09c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170")
    no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 0;
}

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 0 20px;
}

.hero__brand {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 40px;
    color: #fff;
    text-shadow:
            0 0 15px rgba(255,255,255,0.8),
            0 4px 12px rgba(0,0,0,0.8);
}

.hero__title {
    font-size: 20px;
    max-width: 980px;
    line-height: 1.6;
    margin-bottom: 18px;
    color: #f1f1f1;
}

.hero__subtitle {
    font-size: 20px;
    opacity: 0.9;
    margin-bottom: 36px;
    color: #ddd;
}

.hero__cta {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 36px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn-primary {
    background: #3a86ff;
    color: white;
}

.btn-primary:hover {
    background: #265cc0;
}

.btn-login {
    background: #3a86ff;
    color: white;
}
.btn-login:hover {
    background: #265cc0
}

.btn-ghost {
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
}

.btn-ghost:hover {
    background: rgba(255, 255, 255, 0.15);
}

.site-footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: 14px;
    z-index: 2;
}
