<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="bg">
<head>
    <meta charset="UTF-8">
    <title>AlpineVillas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body class="landing">
<div class="overlay"></div>

<header class="site-header">
    <div class="container">
    </div>
</header>

<main class="hero container">
    <h1 class="hero__brand">ALPINE VILLAS</h1>
    <h2 class="hero__title">„Планините са убежище за душата, място, където можем да намерим утеха и мир. Те ни дават възможност да избягаме от забързания свят и да се потопим в тишината и красотата на природата. Високите върхове ни напомнят, че има нещо по-голямо и по-велико от нас самите. Планините са символ на вечността и непрекъснатото движение на живота, което ни вдъхновява да продължаваме напред, дори когато пътят е труден.</h2>
    <p class="hero__subtitle">
        Джек Керуак
    </p>

    <div class="hero__cta">
        <a class="btn btn-login" th:href="@{/login}">Влез</a>
        <a class="btn btn-primary" th:href="@{/register}">Регистрирай се</a>
        <a class="btn btn-ghost" th:href="@{/villas}">Разгледай каталога</a>
    </div>
</main>

<footer class="site-footer">
    <div class="container">
        <small>&copy; <span th:text="${#dates.format(#dates.createNow(),'yyyy')}">2025</span> AlpineVillas</small>
    </div>
</footer>
</body>
</html>
